.badge-todo{
  color: #fff;
  background-color: #016ecd;
}

.badge-forreview{
  color: #fff;
  background-color: #f2d600;
}

.badge-done{
  color: #fff;
  background-color: #d73814;
}

.badge-paid{
  color: #fff;
  background-color: #80D651;
}

.badge-revision{
	color: #fff;
	background-color: #E74C3C; 

}